Question 2 : Data preprocessing

load the module and the required file

In [13]:
import pandas as pd
import unittest

Question 2.1 answer

In [14]:
data=pd.read_csv('python3_test/simple_somatic_mutation.open.BLCA-CN.tsv', sep='\t', header=0)

In [75]:
data.columns
#extract relevant columns
data = data[['mutated_from_allele', 'mutated_to_allele', 'icgc_mutation_id','transcript_affected','icgc_sample_id']]

In [76]:
# Remove duplicates based on the icgc_mutation_id column
data_unique = data.drop_duplicates(subset='icgc_mutation_id')

In [77]:
data.head()

,mutated_from_allele,mutated_to_allele,icgc_mutation_id,transcript_affected,icgc_sample_id
0,G,A,MU5219,ENST00000263967,SA514847
1,G,A,MU5219,ENST00000462255,SA514847
2,T,G,MU4559679,ENST00000550184,SA514847
3,T,G,MU4559679,ENST00000551954,SA514847
4,T,G,MU4559679,ENST00000547649,SA514847

In [78]:
allele_changes = data_unique.groupby(['mutated_from_allele', 'mutated_to_allele'])['icgc_mutation_id'].nunique().reset_index()
allele_changes.columns = ['mutated_from_allele', 'mutated_to_allele', 'unique_mutation_count']
allele_changes

   mutated_from_allele mutated_to_allele  unique_mutation_count
0                    A                 C                    446
1                    A                 G                    923
2                    A                 T                    467
3                    C                 A                    811
4                    C                 G                   1404
5                    C                 T                   3805
6                    G                 A                   3620
7                    G                 C                   1376
8                    G                 T                    660
9                    T                 A                    460
10                   T                 C                    923
11                   T                 G                    583

Question 2.2 answer :

In [79]:
sample_mutation_count = data_unique.groupby(['mutated_from_allele', 'mutated_to_allele','icgc_sample_id'])['icgc_mutation_id'].nunique().reset_index()
sample_mutation_count.columns = ['mutated_from_allele', 'mutated_to_allele','icgc_sample_id' ,'unique_mutation_count']
sample_mutation_count

,mutated_from_allele,mutated_to_allele,icgc_sample_id,unique_mutation_count
0,A,C,SA514685,1
1,A,C,SA514687,5
2,A,C,SA514689,4
3,A,C,SA514691,5
4,A,C,SA514692,3
...,...,...,...,...
1150,T,G,SA514879,6
1151,T,G,SA514883,8
1152,T,G,SA514885,4
1153,T,G,SA514887,4
1154,T,G,SA514889,4

In [80]:
# Find the sample with the highest and lowest unique mutation counts
max_sample = sample_mutation_count.loc[sample_mutation_count['unique_mutation_count'].idxmax()]
min_sample = sample_mutation_count.loc[sample_mutation_count['unique_mutation_count'].idxmin()]

max_sample reperesent the icgc_sample_id that has the least mutation count

In [81]:
max_sample

mutated_from_allele             C
mutated_to_allele               T
icgc_sample_id           SA514800
unique_mutation_count         181
Name: 528, dtype: object

min_sample reperesent the icgc_sample_id that has the least mutation count

In [82]:
min_sample

mutated_from_allele             A
mutated_to_allele               C
icgc_sample_id           SA514685
unique_mutation_count           1
Name: 0, dtype: object

Question 2.3 - check code to test the previous functions

In [36]:
def count_of_mutated_allele(input_data):
    data = input_data[['mutated_from_allele', 'mutated_to_allele', 'icgc_mutation_id','transcript_affected','icgc_sample_id']]
    # Remove duplicates based on the icgc_mutation_id column
    data_unique = data.drop_duplicates(subset='icgc_mutation_id')
    allele_changes = data_unique.groupby(['mutated_from_allele', 'mutated_to_allele'])['icgc_mutation_id'].nunique().reset_index()
    allele_changes.columns = ['mutated_from_allele', 'mutated_to_allele', 'unique_mutation_count']

    #max and min sample with mutation count
    sample_mutation_count = data_unique.groupby(['mutated_from_allele', 'mutated_to_allele','icgc_sample_id'])['icgc_mutation_id'].nunique().reset_index()
    sample_mutation_count.columns = ['mutated_from_allele', 'mutated_to_allele','icgc_sample_id' ,'unique_mutation_count_for_sample']
    max_sample = sample_mutation_count.loc[sample_mutation_count['unique_mutation_count_for_sample'].idxmax()]
    min_sample = sample_mutation_count.loc[sample_mutation_count['unique_mutation_count_for_sample'].idxmin()]
    
    return allele_changes,sample_mutation_count,max_sample,min_sample

In [71]:
class Test(unittest.TestCase):
    data = pd.read_csv('python3_test/simple_somatic_mutation.open.BLCA-CN.tsv', sep='\t', header=0)
    allele_changes , sample_mutation_count,max_sample,min_sample = count_of_mutated_allele(data)
    def test_allele_changes(self):
        print (' Test1 :Inititating test for checking the code to extract unique mutation count')
        self.assertTrue('unique_mutation_count' in allele_changes.columns)
        print (' Test 1 passed')
    def test_sample_max(self):
        print ('Test 2 : Inititating test for checking code to extract sample with max mutation')
        max_value = self.sample_mutation_count['unique_mutation_count_for_sample'].max()
        self.assertEqual(max_sample['unique_mutation_count_for_sample'],max_value)
        print (' Test 2 passed')
    def test_sample_min(self):
        print ('Test 3 : Inititating test for checking code to extract sample with min mutation')
        min_value = self.sample_mutation_count['unique_mutation_count_for_sample'].min()
        self.assertEqual(min_sample['unique_mutation_count_for_sample'],min_value)
        print (' Test 3 passed')

In [72]:
suite = unittest.TestLoader().loadTestsFromTestCase(Test)
unittest.TextTestRunner().run(suite)

...
----------------------------------------------------------------------
Ran 3 tests in 0.005s

OK

 Test1 :Inititating test for checking the code to extract unique mutation count
 Test 1 passed
Test 2 : Inititating test for checking code to extract sample with max mutation
 Test 2 passed
Test 3 : Inititating test for checking code to extract sample with min mutation
 Test 3 passed

###